extends layout

block content    
    div.row
        div.col-xs-12
            h1 Recent Steamers
            - if (signedIn) {    
                a(href="/create") Create a Steamer               
            - }            
            hr
    div.row            
        for steamer in steamers
            div.col-xs-12
                h2
                    a(href="/steamers/" + steamer.permalinkKey)=steamer.title                                                
                p(style="white-space: pre-wrap;")=steamer.content.substring(0, 597) + "..."
                small
                    b Posted #{steamer.dateCreated} by #{steamer.author}
                hr    