extends layout
    
block content
    h1 Sign in to Steaming
    p Welcome back! I am suprised you are here.
    - if (typeof error != "undefined") {
        p        
            span(style="color: red")=error
    - } 
    form(action="/sign/in", method="post")
        div.form-group
            label(for="username") Desired Username
            input.form-control(type="text", name="username", placeholder="e.g. chicken_nugget_lover21", autofocus)
        div.form-group
            label(for="password") Password
            input#password.form-control(type="password", name="password", placeholder="e.g. ********")
        button.btn.btn-default(type="submit") Sign in
        br
        br               
        small or 
        a(href="/sign/up") Sign up